@import url("./something.css");

nav {
  background-color: #cedebd; /* Change this to your desired background color */
  padding: 10px;
  text-align: center;
}

nav li {
  list-style: none;
  display: inline;
  margin-right: 50px;
}

nav a {
  color: #435334;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  color: #faf1e4;
}
