@import url("./something.css");

.header {
  display: flex;
  align-items: center;
  background-color: #cedebd;
  padding: 30px;
}

.logo {
  margin-left: 20px;
  max-height: 80%;
  width: auto;
}

h1 {
  font-size: 60px;
  margin: auto;
  color: #435334;
}
